.card {
  background-color: azure;
  border: 1px dashed black;
  box-shadow: 10px 5px 5px rgb(204, 219, 225);
  border-radius: 8px;
  margin: 15px;
  padding: 25px;
  text-align: center;
  padding: 5px;
  &__name {
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    font-size: 22px;
    background-color: powderblue;
    border-radius: 6px;
    text-align: left;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &--pic {
    width: 50px;
    margin: 15px;
  }
  &__caption {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;
    color: steelblue;
    height: 15px;
    margin: 12px;
    text-align: right;
  }
  &--description {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
  }
}
