@import "https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Kaushan+Script&family=Lancelot&family=Merienda+One&family=Montez&family=Overlock+SC&family=Shippori+Mincho+B1&family=Stardos+Stencil:wght@700&display=swap";

// overall & card
$primary-color: azure;

// name & navbar
$secondary-color: powderblue;

// button
$color-button: paleturquoise;

// caption
$color-captionFont: steelblue;

// navbar & searchBox
$border_navbar: 1px solid rgb(179, 204, 208);

// font family
$font-family_name: "Cinzel Decorative";
$font-family_caption: "Kaushan Script";
$font-family_description: "Merienda One";
$font-family_details: "Shippori Mincho B1";

// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Lancelot', cursive;
// font-family: 'Merienda One', cursive;
// font-family: 'Montez', cursive;
// font-family: 'Overlock SC', cursive;
// font-family: 'Shippori Mincho B1', serif;
// font-family: 'Stardos Stencil', cursive;
